on boot
    # Enable Power modes and set the CPU Freq Sampling rates

    # For 8660/8960
    write /sys/module/rpm_resources/enable_low_power/L2_cache 1
    write /sys/module/rpm_resources/enable_low_power/pxo 1
    write /sys/module/rpm_resources/enable_low_power/vdd_dig 1
    write /sys/module/rpm_resources/enable_low_power/vdd_mem 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/pm_8x60/modes/cpu0/power_collapse/idle_enabled 1

    # For 8974
    write /sys/module/lpm_resources/enable_low_power/l2 2
    write /sys/module/lpm_resources/enable_low_power/pxo 1
    write /sys/module/lpm_resources/enable_low_power/vdd_dig 1
    write /sys/module/lpm_resources/enable_low_power/vdd_mem 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/suspend_enabled 1
    write /sys/module/msm_pm/modes/cpu0/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu1/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu2/power_collapse/idle_enabled 1
    write /sys/module/msm_pm/modes/cpu3/power_collapse/idle_enabled 1

    # Set booted flag on my kernel
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_booted
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_booted
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_booted 1

    # Bump up min Mhz for speed
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1190400
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 1190400
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 1190400
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 1190400
    
    # Remove OC for now
    # write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq_kt 2688000
    # write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2688000
    # write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq_kt 2688000
    # write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 2688000
    # write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq_kt 2688000
    # write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2688000
    # write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq_kt 2688000
    # write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2688000
    
    #Thermal protection
    write /sys/devices/system/cpu/cpufreq/kthermal/use_kthermal 1
    write /sys/devices/system/cpu/cpufreq/kthermal/poll_speed 500
    write /sys/devices/system/cpu/cpufreq/kthermal/temp_limit_degC_start 75
    write /sys/devices/system/cpu/cpufreq/kthermal/temp_limit_degC_stop 71
    
    # Set scheduler to cfq
    write /sys/block/mmcblk0/queue/scheduler cfq
    write /sys/block/mmcblk1/queue/scheduler cfq

    # Set fast charge props
    chown root shell /sys/kernel/fast_charge/force_fast_charge
    chmod 0777 /sys/kernel/fast_charge/force_fast_charge
    write /sys/kernel/fast_charge/force_fast_charge 1

    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    setprop recovery.perf.mode 0

on property:recovery.perf.mode=1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "performance"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "performance"

on property:recovery.perf.mode=0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
